{% extends "base.html" %}

{% block title %}{{ object.title }}{% endblock %}

{% block nav-menu %}<li class="active"><a href="/p/{{ object.slug }}/">{{ object.title }}</a></li>{% endblock %}

{% block content %}
<h1>{{ object.title }} <span class="label label-{{ object.is_active|yesno:'success,default' }}">{{ object.is_active|yesno:'Active,Inactive' }}</span></h1>
<small>Created on {{ object.created }}</small>
<p>{{ object.description|safe }}</p>
{% if object.view.get_unlabeled %}
<a href="{{ object.view.get_unlabeled }}" class="btn btn-primary btn-lg" role="button">Assign class to image</a>
{% endif %}
{% endblock %}
