{% extends "base.html" %}

{% block title %}List of projects{% endblock %}

{% block project_list_class %}active{% endblock %}

{% block content %}
<div class="container-fluid">
    {% for project in object_list %}
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="h3"><a href="/p/{{ project.slug }}/">{{ project.title }}</a></span> <span class="label label-{{ project.is_active|yesno:'success,default' }}">{{ project.is_active|yesno:'Active,Inactive' }}</span></div>
            <div class="panel-body">
                <p>{{ project.description|safe }}</p>
            </div>
        </div>
    </div>
    {% empty %}
    <p class="bg-info">There are no projects defined yet.</p>
    {% endfor %}
</div>
{% endblock %}
