{% extends "base.html" %}

{% block title %}Label this image{% endblock %}

{% block nav-menu %}<li><a href="/p/{{ object.project.slug }}/">{{ object.project.title }}</a></li>
<li>{% if view.next_unlabeled %}<a href="/p/{{ object.project.slug }}/image/{{ view.next_unlabeled.pk }}/">Image</a>{% else %}<a href="#">No images</a>{% endif %}</li>{% endblock %}

{% block header %}
<style type="text/css">
    div.progress {
        margin: 1em;
    }
    div.progress-bar {
        min-width: 3em;
    }
    .popover {
        max-width: 70%;
        left: 25%;
        top: -1em;
    }

    .list-group-item:hover .popover { display: block; }
    
    label {
        width: 100%;
        height: 100%;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-4">
        <img class="center-block" src="/{{ object.image.filename }}" alt="Image to label">
    </div>
    <div class="col-md-8">
    <form action="" method="post">
        {% csrf_token %}
        <ul class="list-group">
        {% for label in labels %}
            <li class="list-group-item">
                <div class="popover">
                    <h3 class="popover-title">{{ label.text }}</h3>
                    <div class="popover-content">
                        <p>{{ label.description|safe }}</p>
                    </div>
                </div>
                <label>
                    <input type="radio" name="label" value="{{ label.pk }}">
                    {{ label.text }}
                </label>
            </li>
        {% endfor %}
        </ul>
        <button type="submit" class="btn btn-primary btn">Save and load next</button>
    </form>
    </div>
</div>
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">
        {{ progress }}%
    </div>
</div>
{% endblock %}
