{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block welcome_class %}active{% endblock %}

{% block content %}
<div class="col-sm-6">
    <div class="jumbotron">
        <img src="/static/logo.png" alt="TImLab logo">
        <p>What is Timlab?</p>
    </div>
</div>

<div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">What's next?</div>
        <div class="panel-body">
            <p>Where to go from here: <a href="/p/">List of available projects</a></p>
        </div>
    </div>
</div>
{% endblock %}
